.wheather-btn {
  width: 100%;
  padding: 16px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  background-color: #5372f0;
}
.wheather-btn.location-btn {
  background-color: #6c757d;
}
.wheather-btn.home-btn {
  background-color: #3ab00b;
}